@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kalam&family=Ubuntu&display=swap'); 


body {
    margin: 0;
    background-color: #c68c53a8;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}

.notes {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.50);
    resize: none;
    outline: none;
    font-family: 'kalam';
    font-size: 20px;
}

.notes:hover {
    box-shadow:10px 10px 7px rgba(0, 0, 0, 0.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
}

.Button {
    height: 45px;
    width: 80px;
    margin-top: 16px;
    margin-left: 10px;
    border: none;
    outline: none;
    background: #87A96B;
    border-radius: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.50);
    font-family: 'ubuntu';
    cursor: pointer;
}

.Button:hover {
    background: #90ae78;
}